body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
  max-height: 42px;
}

svg {
  width: 20px;
  height: 20px;
}

.container {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 1fr 5fr;
}

.container div {
  color: black;
}

/* HEADER */

.header {
  padding: 0 18px;
  font-size: 1rem;
  grid-column: 2 / 3;
  display: grid;
  grid-template: 50px / 2fr 1fr;
  gap: 12px;
}

.header div {
  display: flex;
  gap: 12px;
}

.header .search {
  grid-column: 1 / 2;
  
  justify-content: flex-start;
  align-items: center;
}

.header input {
  position: relative;
  width: 300px;
  height: 20px;
  background-color: #E2E8F0;
  border: none;
  border-radius: 25px;
  padding: 0;
}

.header .account {
  grid-column: 2 / 3;

  justify-content: flex-end;
  align-items: center;
}

/* SIDEBAR */

.sidebar {
  padding: 16px;
  background-color: #5D41DE;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.sidebar div {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

.logo .menu {
  justify-self: start;
}

.menu ul,
.menu li {
  font-size: 1rem;
  list-style-type: none;
  display: grid;
  gap: 18px;
  padding-left: 8px;
}

/* NAV */

.nav {
  padding: 0 18px;
  font-size: 1rem;
  font-weight: 300;
  
  display: grid;
  grid-template: 50px / 2fr 1fr;
  gap: 12px;
}

.nav div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav .welcome {
  grid-column: 1 / 2;

  justify-content: flex-start;
  align-items: center;
}

.welcome .ht {
  display: grid;
  gap: 1px;
}

.ht span {
  text-transform: uppercase;
  font-size: .6em;
}

.ht p {
  margin: 0;
  font-size: 1em;
  font-weight: 400;
}

.nav .btn {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  border: none;
  background: #5e41de33;
  border-radius: 20px;
  cursor: pointer;
}

.label {
  line-height: 20px;
  font-size: 0.8rem;
  color: #5D41DE;
  font-family: sans-serif;
}

.button:hover {
  background: #5e41de4d;
}

/* ARTICLE */

.article {
  grid-column: 2 / 3;
  padding: 6px 12px;
  font-size: 1rem;
  font-weight: 300;
  display: grid;
  grid-template: 1fr 1fr / 3fr 1fr;
  gap: 12px;
  background-color: #E2E8F0;
}

.article .projects {
  padding: 0 18px;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
}

.projects .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 8px;
}

.card {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding: 12px;

  background-color: white;
}

.card .text {
  font-size: .6em;
  font-weight: 300;
  margin: 2px 0;
}

.text h3 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 1.6em;
  margin: 0;
}

.card .buttons {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  gap: 18px;
}


.article .announcements {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
}

.announcements .item {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding: 12px;

  background-color: white;
}

.announcements .item span {
  font-weight: 600;
  font-size: .8em;
  margin: 0;
}

.announcements .item p {
  font-size: .6em;
  font-weight: 300;
  margin: 2px 0;
}

hr.solid {
  border-top: 3px solid #bbb;
}


.article .trending {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
}

.article .item {
  border-radius: 5px;
  display: grid;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding: 12px;
}

.article .item span {
  font-weight: 600;
  font-size: .8em;
  margin: 0;
}

.article .item p {
  font-size: .8em;
  font-weight: 300;
  margin: 2px 0;
}